//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;


//colors
$primary-dark: #4E4E4E;
$primary-light: #B5B5B5;
$primary-lighter: #C7C7C7;
$secondary: #9AB4B3;
$white: #ffff;
$black: #000000;
$new-price: #3EBDFF;