*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 0;
  text-align: center;
}

input:focus,textarea:focus,select:focus{
  border: none;
  outline: none;
}

input, select, textarea{
  color: $primary-dark;
}

ul {
  list-style: none;
  width: 100%;
  font-size: 1.2rem;
}

