.uppercase {
  text-transform: uppercase;
}

.old-price {
  color: $primary-dark;
  text-decoration: line-through;
}

.new-price {
  color: $new-price;
}

.sale {
  @include garamond;
  font-style: italic;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  background-color: $black;
  padding: 2.5rem;
  border-radius: 50%;

  &::after {
    content: 'Sale';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}